*{
  margin: 0;
  padding: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
} 

.App{
  background-color: #f5f3f2; 
  min-height: 100vh;
  
 }

 .theShoppies{
   padding: 20px 0px 20px 0px;
 }
 
#add{  
  padding-left: 30px;
  color: gray;
  background-image: url(./Images/searchIcon.png);
  background-repeat: no-repeat;
  background-position: left center;
  outline: 0;
}

.waitingforTitle{
  display: inline;
}

.title{
  justify-content: left;
}

.list{
  background-color: white;
}

.movieListCard{
  margin: 30px 0px 20px 0px;
  padding: 10px 0px 10px 20px;
  background-color: #fff5ff;
}

.movieTitle{
  padding-right: 10px;
  font-weight: bold;
}
.movieYear{
  padding-right: 8px;
  font-weight:600;
}

.nominationListCard{
  margin: 30px 0px 20px 0px;
  padding: 5px 0px 5px 20px;
  background-color: #fff5ff;
  
}

.waitingforNomination{
  display: inline;
}

