*{
margin: 0;
padding: 0;
}
/* .App {
  text-align: center;
 } */

#add{  
  padding-left: 30px;
  color: gray;
  background-image: url(./Images/searchIcon.png);
  background-repeat: no-repeat;
  background-position: left center;
  outline: 0;
}

.title{
  justify-content: left;
}

.movielist{
  font-size: 1.3rem;
}

.movieListjumbo{
  margin: 30px 40px 20px 30px;
  border-radius:1em;
}

.movieTitle{
  padding-right: 15px;
}
.movieYear{
  padding-right: 15px;
}
/* 
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* 
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
